#ignore everything
Udemy 2d Platformer/*
!Udemy 2d Platformer/Assets/

Udemy 2d Platformer/Assets/*
!Udemy 2d Platformer/Assets/_Scripts/

Udemy 2d Platformer/Assets/_Scripts/*
!Udemy 2d Platformer/Assets/_Scripts/*.cs
!Udemy 2d Platformer/Assets/_Scripts/States/

Udemy 2d Platformer/Assets/_Scripts/States/*
!Udemy 2d Platformer/Assets/_Scripts/States/*.cs
!Udemy 2d Platformer/Assets/_Scripts/UI/

Udemy 2d Platformer/Assets/_Scripts/UI/*
!Udemy 2d Platformer/Assets/_Scripts/UI/*.cs
!Udemy 2d Platformer/Assets/_Scripts/RespawnSystem

Udemy 2d Platformer/Assets/_Scripts/RespawnSystem/*
!Udemy 2d Platformer/Assets/_Scripts/RespawnSystem/*.cs

