#ignore everything
Udemy 2d Platformer/*
!Udemy 2d Platformer/Assets/

Udemy 2d Platformer/Assets/*
!Udemy 2d Platformer/Assets/_Scripts/

!Udemy 2d Platformer/Assets/_Input/
Udemy 2d Platformer/Assets/_Input/*
!Udemy 2d Platformer/Assets/_Input/*.cs

Udemy 2d Platformer/Assets/_Scripts/*
!Udemy 2d Platformer/Assets/_Scripts/*.cs
!Udemy 2d Platformer/Assets/_Scripts/States/

Udemy 2d Platformer/Assets/_Scripts/States/*
!Udemy 2d Platformer/Assets/_Scripts/States/*.cs
!Udemy 2d Platformer/Assets/_Scripts/UI/

Udemy 2d Platformer/Assets/_Scripts/UI/*
!Udemy 2d Platformer/Assets/_Scripts/UI/*.cs
!Udemy 2d Platformer/Assets/_Scripts/RespawnSystem

Udemy 2d Platformer/Assets/_Scripts/RespawnSystem/*
!Udemy 2d Platformer/Assets/_Scripts/RespawnSystem/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Weapons

Udemy 2d Platformer/Assets/_Scripts/Weapons/*
!Udemy 2d Platformer/Assets/_Scripts/Weapons/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Obstacles

Udemy 2d Platformer/Assets/_Scripts/Obstacles/*
!Udemy 2d Platformer/Assets/_Scripts/Obstacles/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Enemies

Udemy 2d Platformer/Assets/_Scripts/Enemies/*
!Udemy 2d Platformer/Assets/_Scripts/Enemies/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Common

Udemy 2d Platformer/Assets/_Scripts/Common/*
!Udemy 2d Platformer/Assets/_Scripts/Common/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Feedback

Udemy 2d Platformer/Assets/_Scripts/Feedback/*
!Udemy 2d Platformer/Assets/_Scripts/Feedback/*.cs
!Udemy 2d Platformer/Assets/_Scripts/UI/Animations

Udemy 2d Platformer/Assets/_Scripts/UI/Animations/*
!Udemy 2d Platformer/Assets/_Scripts/UI/Animations/*.cs
!Udemy 2d Platformer/Assets/_Scripts/PickableItems

Udemy 2d Platformer/Assets/_Scripts/PickableItems/*
!Udemy 2d Platformer/Assets/_Scripts/PickableItems/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Animations

Udemy 2d Platformer/Assets/_Scripts/Animations/*
!Udemy 2d Platformer/Assets/_Scripts/Animations/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Player

Udemy 2d Platformer/Assets/_Scripts/Player/*
!Udemy 2d Platformer/Assets/_Scripts/Player/*.cs
!Udemy 2d Platformer/Assets/_Scripts/LevelManagement

Udemy 2d Platformer/Assets/_Scripts/LevelManagement/*
!Udemy 2d Platformer/Assets/_Scripts/LevelManagement/*.cs
!Udemy 2d Platformer/Assets/_Scripts/SaveSystem

Udemy 2d Platformer/Assets/_Scripts/SaveSystem/*
!Udemy 2d Platformer/Assets/_Scripts/SaveSystem/*.cs
!Udemy 2d Platformer/Assets/_Scripts/Enemies/BossAI

Udemy 2d Platformer/Assets/_Scripts/Enemies/BossAI/*
!Udemy 2d Platformer/Assets/_Scripts/Enemies/BossAI/*.cs


